@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Inter:wght@300;400;500&display=swap');

$primary: #393939;

$border-radius: .375rem;
$border-radius-sm: .225rem;
$border-radius-lg: .275rem;

@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$spacers-extended: (
        6: $spacer * 6
);
$spacers: map-merge($spacers, $spacers-extended);

$colors-extended: (
        "dropbox": #005ff7
);
$theme-colors: map-merge($theme-colors, $colors-extended);

@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

$widths: ("xs": 8rem, "sm": 24rem, "md": 32rem, "lg": 46rem);

@each $size, $value in $widths {
  .max-w-#{$size} {
    max-width: $value;
    width: 100%;
  }
}

.editor-container {
  width: 100%;
  max-width: 1620px;
  padding-left: $spacer * 2;
  padding-right: $spacer * 2;
  font-size: $font-size-base * 0.85;
}

.editor, .editor-preview {
  font-family: "Fira Code", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.editor {
  @extend .bg-dark;
  @extend .border-0;
  @extend .text-light;
  @extend .overflow-hidden;
  outline: none;
  height: 100%;
  resize: none;
  width: 100%;
  line-height: $line-height-lg;
}

$editor-h1-color: #a79645;
$editor-h2-color: #939bd6;
$editor-h3-color: #ba6ea0;
$editor-h4-color: #b78b60;
$editor-h5-color: #859679;
$editor-h6-color: #859679;

.editor-preview {
  h1 {
    color: $editor-h1-color;
    font-weight: bold;
  }

  h2 {
    color: $editor-h2-color;
  }

  h3 {
    color: $editor-h3-color;
  }

  h4 {
    color: $editor-h4-color;
  }

  h5 {
    color: $editor-h5-color;
  }

  h6 {
    color: $editor-h6-color;
  }
}